<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="authenticationProviders" type="SimpleAuthentication.Core.Config.ProviderConfiguration, SimpleAuthentication.Core"/>
	</configSections>
	
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
	
		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Html"/>
			</namespaces>
		</pages>
		
		<httpHandlers>
      		<add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    	</httpHandlers>
	</system.web>
	
	<connectionStrings>
    	<add name="RavenDB" connectionString="Url=http://localhost:8080/databases/rolog"/>
  	</connectionStrings>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<validation validateIntegratedModeConfiguration="false"/><httpErrors existingResponse="PassThrough"/>
		<handlers>
      		<add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    	</handlers>
	</system.webServer>
	
	<authenticationProviders>
		<providers>
			<add name="Facebook" key="please-enter-your-real-value" secret="please-enter-your-real-value"/>
			<add name="Google" key="471270353223-2sl4lniia8rvlm21s3b3afmaadgelkim.apps.googleusercontent.com" secret="ykglQRbqljC8I5SNP0N1ruNz"/>
			<add name="Twitter" key="please-enter-your-real-value" secret="please-enter-your-real-value"/>
			<add name="WindowsLive" key="please-enter-your-real-value" secret="please-enter-your-real-value"/>
		</providers>
	</authenticationProviders>
</configuration>
